In [133]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# data set 'La Liga cup (Football tournament)' is read.

In [134]:
laliga = pd.read_csv('Laliga.csv')
laliga.columns = laliga.loc[0]

In [135]:
laliga.columns = laliga.loc[0]
laliga.drop(0,inplace = True)

In [136]:
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

# all dashes are replaced with 0 to make sure we can perform arithmetic operations on the data.

In [137]:
# this will replace "-" with 0 
laliga.replace(to_replace = "-", value = 0 ,inplace = True)

In [138]:
num_list = ['Pos','Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T','BestPosition']
laliga[num_list] = laliga[num_list].apply(pd.to_numeric)

In [139]:
laliga.Champion.unique()

array([33, 25, 10,  6,  8,  1,  0,  2], dtype=int64)

# all the teams which have started playing between 1930-1980.

In [140]:
for i,j in laliga.iterrows():
    if int(j['Debut'][0:4]) >= 1930 and int(j['Since/LastApp'][0:4]) <= 1980:
        print(j['Team'])

Burgos CF
Pontevedra
Alcoyano
Jaen
AD Almeria
Condal
Atletico Tetuan
Cultural Leonesa

# list of teams which have started playing between 1930-1980 using List Comprehension

In [141]:
team = [j['Team'] for i,j in laliga.iterrows() if int(j['Debut'][0:4]) >= 1930 and int(j['Since/LastApp'][0:4]) <= 1980]
print(team)

['Burgos CF', 'Pontevedra', 'Alcoyano', 'Jaen', 'AD Almeria', 'Condal', 'Atletico Tetuan', 'Cultural Leonesa']

# list of teams which came Top 5 in terms of points

In [142]:
list_top5 = laliga.Team[laliga[['Champion','Runner-up', 'Third', 'Fourth', 'Fifth']].sum(axis=1) > 5].tolist()
print(list_top5)

['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia', 'Athletic Bilbao', 'Sevilla', 'Espanyol', 'Real Sociedad', 'Zaragoza', 'Real Betis', 'Deportivo La Coruna', 'Celta Vigo', 'Sporting Gijon', 'Oviedo', 'Villarreal']

# all the teams with their Goal Differences

In [143]:
l1 = []
def Goal_diff_count(GoalsFor, GoalsAgainst):
    Goal_diff = GoalsFor - GoalsAgainst
    return Goal_diff

for i in range(1,len(laliga)+1):
    l1.append([laliga['Team'][i], Goal_diff_count(laliga['GoalsFor'][i],laliga['GoalsAgainst'][i])])
    
df = pd.DataFrame(l1, columns = ['Team', 'Goal Difference'])
print(df.head())

              Team  Goal Difference
0      Real Madrid             2807
1        Barcelona             2786
2  Atletico Madrid             1225
3         Valencia              929
4  Athletic Bilbao              931

# team which has maximum goal difference

In [144]:
print(df[df['Goal Difference'] == df['Goal Difference'].max()])

          Team  Goal Difference
0  Real Madrid             2807

# team which has minimum goal difference

In [145]:
print(df[df['Goal Difference'] == df['Goal Difference'].min()])

                Team  Goal Difference
13  Racing Santander             -525

# top 5 teams which has the highest Winning percentage

In [152]:
laliga['Winning Percent'] = (laliga['GamesWon'] / laliga['GamesPlayed'])*100
laliga['Winning Percent']= laliga['Winning Percent'].apply(lambda x: x if x > 0 else 0)
laliga.sort_values('Winning Percent', ascending=False).head()[['Team', 'Winning Percent']]

0             Team  Winning Percent
1      Real Madrid        59.630702
2        Barcelona        57.241130
3  Atletico Madrid        47.475134
4         Valencia        44.557057
5  Athletic Bilbao        43.772629

# Teams are Grouped based on their “Best position” and printed the sum of their "points" for all positions.

In [153]:
print(laliga.groupby(['BestPosition']).sum()['Points'])

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64